.comment_container {
    border: 2px solid blue;
    border-radius: 15px;
    padding: 5px;
    display: grid;
    grid-template-columns: 15% auto;
    height: 7rem;
}

.comment_votes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.comment_data {
    margin-right: 20px;
    display: grid;
    align-self: center;
}

.button_vote {
    width: 2rem;
    height: 2rem;
}

.form_comment {
    display: grid;
    grid-template-columns: 20% 60% 1fr;
    align-self: center;
    gap: 10px;
}

#submit_text {
    width: auto;
}